@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    background-color: beige;
    font-family: "roboto"
}

#wraped{
    display:grid;       /* Aplico Grid para crear el "diseño" de la pagina */ 
    grid-template-columns: 1fr; /* Dos columnas, una con ancho fijo */ 
    grid-template-rows: 80px 1fr 1.5fr 1.5fr auto; /* Cinco Filas */ 

}

header{
    position: sticky;
    top: 0;
    height: 80px;
    background-color: black;
    display:flex; /* Flex para acomodar el contenido del navbar */ 
    justify-content: space-around;
    align-items: center;
}


.menu__item, .item__link {
    height: auto;
    font-weight: bolder;
    display: inline-block;
    list-style-type: none;
    text-decoration: none;
    color:white;
    padding-right: 10px;
}

.item__link:hover{
    color: orange;
}
.submenu__link:hover{
    color: orange;
}

.submenu__item, .submenu__link{
    background-color: rgb(0, 0, 0, 0.9);
    list-style-type: none;
    text-decoration: none;
    color:white;
}

.menu__item:hover .submenu_galeria{
    display: block;
    
}
.submenu_galeria {
    position: absolute;
    display: none;
}



.parrafos-explicativos{
    background-image: url(Images/Imagen-central.jpg);
    background-attachment: fixed;
    background-position:bottom;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    padding:20px;
    align-items: center;
    
}

.parrafo{
    background-color:rgb(240, 243, 243, 0.4);
    font-size: large;
    font-weight: bolder;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.titulo__parrafo{
    font-size: x-large;
    color:white;
    font-weight:bolder;
    font-stretch: condensed;
}

.experiencia{
     margin-top: 20px;
    padding-top:20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.titulo__experiencia{
    margin-bottom: 20px;
    border-top:solid black;
    font-size: 50px;
    font-weight: bolder;
    margin-top: 20px;
}

.imagen__experiencia{
    width: 20%;
    height: 200px;
    border-radius: 20px;
    margin-right: 2rem;
    border: solid black;
    transition: transform 0.3s ease;
    
 }

 .imagen__experiencia:hover{
    transform: scale(2);
 }

 .visit{ /* Dos columnas, una con ancho fijo */ 
    width: 80%;
    margin:auto;
    margin-top:50px;
    border-top:solid black;
    padding:20px;
    display: flex;
    justify-content:space-around

}

.visit__text{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.visit-text__tittle{
    font-size: 60px;
    font-weight: bolder;
}

.titulo__opciones{
    font-weight: bolder;
    font-size: 2em;
    text-align: center;
    padding-top:10px;
}

footer{
    background-color: rgb(0, 0, 0, 0.9);
    color: white;
    font-size: small;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.redes{
    display:flex;
    justify-content:space-around;
    width: 10%;
    padding-top: 10px;
}

.imagenes__redes{
    width: 20px;
    height: 20px;
}

.forms{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-content{
    background-image: url(./Images/fondo-contacto.jpg);
    background-attachment: fixed;
    background-position:bottom;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100% ;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-tittle{
    color:white;
    font-size:100px;
    font-weight:bolder
}

.secondary-content{
    width: 70%;
    margin:auto;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: bolder;
    margin-top: 20px;
    border-top: solid black;
    padding:10px;
}

.contact{
    width: 80%;
    margin:auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contact-information{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-between;

}

.contact-detail{
    display: flex;
    justify-content:flex-start;
    align-items:center;
}

.contact-icon{
    width: 35px;
    height: 40px;
}

.forms{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.services{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.services-list{
    columns: 2 auto;
    list-style-type:circle;
    font-size: larger;
}

.images{
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.images-domos{
    width: 90%;
    margin:auto;
    display: flex;
    justify-content:space-around;
    align-items: center;
    
}
.image-domo{
    width: 300px;
    height: 300px;
    border-radius: 30px;
}

.nombre-domo{
    border-top:ridge 8px;
    font-size: xx-large;
    margin: 20px 0 20px;
}

.nosotros{
    font-size: x-large;
    font-weight: 200;
    width: 80%;
    margin:auto;
    display: flex;
    justify-content:center;
    text-align: justify;
}

.ubicacion{
    font-size: x-large;
    width: 500px;
}

.ubication-information{
    width: 80%;
    margin:auto;
    display:flex;
    justify-content: space-around;
    align-items: center;
}


@media only screen and (max-width: 767px) {

#wraped{ 
    grid-template-columns: 1fr; /* Pasando los 992 px No quiero mas columnas (está bien esto)? */ 
}


header{
    width: 100%;
   height: 90px; 
   flex-direction: column;
}

.menu {
    padding-bottom: 40px;
}

.parrafos-explicativos{
    flex-direction: column;
    
}
.imagen-logo{
    padding-top: 20px;
    height: 90px;
}

.imagenes_experiencia{  /* Tuve ponle padding porque no logré centrarlo en la pagina, siempre me aparecia pegado al borde izquierdo*/ 
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}

.imagen__experiencia{ /* Son 4 imagenes y quiero que aparezcan 2 arriba y dos abajo, poniendole el ancho de abajo logré que figuren como quiero, está bien? */ 
    width: 40%;
}


.visit{  
    flex-direction: column; /*para poner el texto arriba del video*/
    justify-content: center;
    align-items: center;
}

aside{
    display:none
}

.secondary-content{
    font-size: 30px;
}

.contact{
    padding: 10px;
    flex-direction: column;
}

.contact-icon{
    width: 15px;
    height: 20px;
}

.forms{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.image-domo{
    padding: 20px;
    width: 200px;
    height: 200px;

}

.main-tittle{
    font-size: 70px;
}
}