
*::after,
*::before,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: $font-principal;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    font-family: $font-title;
}

img{
    width: 100%;
}

h2{
    font-size: $text-large;
    font-weight:bold;
  }
p{
    font-size: $text-medium;
}

