/* Colors */
$primary: #000000;
$secondary: #2e3d2d;
$text-color-tittles: rgb(201, 204, 202);
$text-color-ligh: rgb(235, 235, 235);

/* Spacings */
$spacing-xlarge: 10rem;
$spacing-large: 8rem;
$spacing-medium: 2.4rem;
$spacing-small: 2rem;
$spacing-xsmall: 1rem;

/*Font-family */
$font-principal: 'Roboto', serif;
$font-title: 'Barlow', sans-serif;

/* Font-Sizes */
$text-xxlarge:10rem;
$text-xlarge:7rem;
$text-large: 5.2em;
$text-medium: 2.2em;
$text-base: 1.6em;
$text-small: 1.4em;