
.carousel-inner{
    width: 100%;
    height: 100vh
    }

  .carousel-inner img{
    height: 100vh;
    object-fit:cover;
    object-position: bottom;
    filter: brightness(25%);
  }
  
  .carousel-caption{
    top:200px;
    font-weight: bolder;
  }
  
  .titulo-carousel{
    font-family: $font-title;
    font-size: $text-xxlarge;
    color: $text-color-tittles;
  }
  
  .parrafo-carousel{
    font-size: $text-medium;
    font-weight: lighter;
  }
  