 
  .resumen{
    margin-top: $spacing-large;
  }

  .resumen-titulo{
    font-size: 9rem;
  }

  
.imagen-resumen {
    width: 400px;
    height: 300px;
    object-fit: cover;
    object-position: left;
    filter: brightness(60%);
    transition: all 1s
  }
  